.login-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width:400px;
    height:300px;
    background: linear-gradient(120deg, #1a1a1a 0%, #4a4a4a 100%);
     
}

.title{
    margin-bottom: 15px;
    font-size: 1.2rem;
    font-weight: 900;
    color: #B0B0B0;
}



